* {
  box-sizing: content-box;
}

body {
  font-family: 'Boogaloo', cursive !important;
  overflow-x: hidden;
}

#submit-name {
  width: 500px;
  box-shadow:
    0 0 30px 1px #fff,
    0 0 50px 3px #f0f,
    0 0 70px 5px #0ff;
}

#submit-name::placeholder {
  font-size: 1.25rem;
}

#todo-container {
  height: 120px;
  overflow: auto;
  width: 700px;
}

#todo {
  border: none;
  border-bottom: 1px dashed #01BAEF;
  background-color: #fff;
}

#todo::placeholder {
  text-align: center;
}

#todo:-webkit-autofill,
#todo:-webkit-autofill:hover,
#todo:-webkit-autofill:focus,
#todo:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px white inset;
}

#todo:focus {
  outline: none;
}

#todo-add {
  background-color: #01BAEF;
  color: #fff;
  border: none;
  border-radius: 15px;
  width: 75px;
  outline: none;
}

#todo-add:active {
  transform: translateY(5px);
  background-color: #0188AE;
}

#todo-add:hover {
  background-color: #0188AE;
}

#delete-todo {
  border-radius: 15px;
  font-size: 0.8rem;
  border: none;
  outline: none;
}

#delete-todo:active {
  transform: translateY(2px);
  background-color: rgb(126, 25, 45);
}

#headlines {
  height: 900px;
  overflow: auto;
  font-size: 1.25rem;
}

#sports {
  height: 900px;
  overflow: auto;
  font-size: 1.25rem;
  direction: rtl;
}

#weather-submit {
  background-color: #01BAEF;
  color: #fff;
  border: none;
  outline: none;
}

#weather-submit:active {
  transform: translateY(2px);
  background-color: #0188AE;
}

#weather-submit:hover {
  background-color: #0188AE;
}
